footer {
    height: 80px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: #F9F9F9;
        font-size: 1.25rem;
        margin-bottom: 0;
    }
}