.detail__character {
    img {
        max-width: 90%;
    }
    h4 {
        color: #FFFFFF;
        margin-top: 10px;
        font-size: 1.8rem;
    }
    p {
        color: #FFFFFF;
    }
}
.detail__comic-series {
    .detail__comic-series__comic {
        margin-bottom: 20px;
    }

    h2 { 
        color: #ED1B24;
        font-size: 2rem;
    }
}